:root {
  --first: rgb(161, 179, 166);
  --gradient: linear-gradient(
    266deg,
    rgba(1, 49, 46, 1) 21%,
    rgba(68, 159, 140, 1) 78%
  );
  --shadow: rgb(85, 85, 108);
  --white: rgb(230, 236, 233);
  --green: rgba(1, 49, 46, 1);
  --light: rgba(68, 159, 140, 1);
}

.success {
  padding: 5px;
  background-color: aqua;
  border: 1px solid black;
  margin: 5px;
}

.alert {
  padding: 5px;
  background-color: aqua;
  border: 1px solid black;
  margin: 5px;
}

.form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border: 5px solid var(--green);
}
.form label {
  display: block;
  padding: 1rem 0 0.5rem;
  font-size: 20px;
}
.form input {
  display: block;
  width: 100%;
  border: 2px solid var(--shadow);
  font-size: 20px;
  border-radius: 5px;
}

.form_btn {
  padding: 1.2em;
  border-radius: 25px;
  border: none;
  background-color: var(--green);
  color: var(--white);
  margin: 1em 0;
  width: auto;
  text-transform: uppercase;
}

.form_btn:hover {
  background-color: var(--shadow);
  cursor: pointer;
}
body {
  background-color: rgb(218, 221, 221);
}
